main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
    justify-content: center;
    align-items: center;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
}

@media (width <= 500px) {
    main {
        gap: 16px;
        padding: 16px;
    }

    main img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}